
  body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Arial,sans-serif;
}

nav{
    background:#1e293b;
    padding:20px;
}

nav h2{
    display:inline;
    color:#38bdf8;
    margin-right:30px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}

section{
    text-align:center;
    padding:100px 20px;
}

h1{
    font-size:50px;
}

p{
    font-size:22px;
}

button{
    background:#38bdf8;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:20px;
}
